// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
// Imports
@import "compass";
@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";
/* ==========================================================================
	General Styles
========================================================================== */
a {
  	color: $brand-color;
}
a:hover, a:focus {
  	text-decoration: none;
  	@include transition(background-color, color, .3s);
}
body {
	font-family: $font;
	font-weight: $normal;
	color: $font-color;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.section {
	padding: 50px 0;
}
.no-padding {
	padding: 0;
}
.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
/* ==========================================================================
	$Header
========================================================================== */
#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	.header-content {
		border-bottom: 1px solid rgba($white, .15);
		margin: 0 auto;
		max-width: 1170px;
		padding: 40px 0;
		width: 100%;
		@include transition(padding .3s);
	}
	.logo {
		@include float(left);
	}
}
#header.fixed {
	background-color: darken($accent-color, 1%);
	.header-content {
		border-bottom: 0;
		padding: 25px 0;
	}
	.nav-toggle {
		top: 18px;
	}
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	@include transition(opacity .5s);
}
.navigation {
	@include float(right);
	li {
		display: inline-block;
	}
	a {
		color: $nav-color;
		font-size: $nav-font-size;
		font-weight: $bold;
		margin-left: 40px;
		text-transform: uppercase;
		&:hover,
		&.active {
			color: $white;
		}
	}
}
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	@include transition(all .3s);
	&:before,
	&:after {
		border-radius: 50%;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		@include transform(translateZ(0));
		@include backface-visibility(hidden);
		@include transition-property(transform);
	}
	&:before {
		background-color: $brand-color;
		@include transform(scale(1));
		@include transition-duration(.3s);
	}
	&:after {
		background-color: $brand-color;
		@include transform(scale(0));
		@include transition-duration(0s);
	}
	span {
		background-color: $white;
		bottom: auto;
		display: inline-block;
		height: 3px;
		left: 50%;
		position: absolute;
		right: auto;
		top: 50%;
		width: 18px;
		z-index: 10;
		@include transform(translateX(-50%) translateY(-50%));
		&:before,
		&:after {
			background-color: $white;
			content: "";
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			@include transform(translateZ(0));
			@include backface-visibility(hidden);
			@include transition(transform .3s);
		}
		&:before {
			@include transform(translateY(-6px) rotate(0deg));
		}
		&:after {
			@include transform(translateY(6px) rotate(0deg));
		}
	}
	&.close-nav {
		&:before {
			@include transform(scale(0));
		}
		&:after {
			@include transform(scale(1));
		}
		span {
			background-color: rgba(255, 255, 255, 0);
			&:before,
			&:after {
				background-color: $white;
			}
			&:before {
				@include transform(translateY(0) rotate(45deg));
			}
			&:after {
				@include transform(translateY(0) rotate(-45deg));
			}
		}
	}
}
/* ==========================================================================
	$Banner
========================================================================== */
.banner {
	background: {
		image: url(../images/banner.jpg);
		position: center top;
		repeat: no-repeat;
	}
	@include background-size(cover);
	min-height: 650px;
}
.banner-text {
	padding-top: 25%;
	h1 {
		color: $white;
		font-family: $font-secondary;
		font-weight: $bold;
	}
	p {
		color: $white;
		font-size: 22px;
		font-weight: $light;
		line-height: 1.5;
		margin-bottom: 80px;
	}
}
/* ==========================================================================
	$Features
========================================================================== */
.feature {
	margin-bottom: 50px;
	&-content {
		padding: 0 15px;
		margin-top: 30px;
	}
	.icon {
		color: $brand-color;
		font-size: 60px;
	}
}
/* ==========================================================================
	$Works
========================================================================== */
.work {
	@include box-shadow(0 0 0 1px $white);
	min-height: 350px;
	overflow: hidden;
	position: relative;
	visibility: hidden;
	.overlay {
		background: rgba($brand-color, .9);
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		@include transition(opacity, .3s);
	}
	.overlay-caption {
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
		@include transform(translateY(-50%));
	}
	h5,p,img {
		@include transition(all, .5s);
	}
	h5,p {
		color: $white;
		margin: 0;
		opacity: 0;
	}
	h5 {
		margin-bottom: 5px;
		@include transform(translate3d(0, -200%, 0));
	}
	p {
		@include transform(translate3d(0, 200%, 0));
	}
}
.work-box:hover {
	img {
		@include transform(scale(1.2));
	}
	.overlay {
		opacity: 1;
		h5,p {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}
/* ==========================================================================
	$Download
========================================================================== */
.download {
        padding-top: 0px;
	&.wordpress{
		background-color: rgba($white, .12);
	}
	h3 {
		margin-top: 0;
	}
	p {
		color: $base-color;
		font-weight: $semibold;
		text-transform: uppercase;
	}
	.btn {
		margin-top: 30px;
	}
}
/* ==========================================================================
	$Footer
========================================================================== */
.social-icons {
	margin-top: 30px;
	li {
		float: left;
	}
	a {
		border: 1px solid #e8ecee;
		@include border-radius(2px);
		color: #c6cacc;
		display: block;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		margin-right: 5px;
		text-align: center;
		width: 40px;
		&:hover {
			background-color: $brand-color;
			border-color: $brand-color;
			color: $white;
		}
	}
}

.footer {
	text-align: center;
	&-top {
		background-color: lighten($accent-color, 8%);
		padding-top: 50px;
	}
	&-bottom {
		background-color: lighten($accent-color, 3%);
		padding: 20px 0;
	}
	.footer-col {
		margin-bottom: 80px;
	}
	h5 {
		color: $white;
	}
	h5 {
		margin-bottom: 20px;
	}
	p {
		color: rgba($white,.5);
	}
	a {
		color: $white;
		&:hover {
			color: $brand-color;
		}
	}
	.footer-share {
		@extend .social-icons;
		margin-top: 0;
		li {
			display: inline-block;
			float: none;
		}
		a {
			border-width: 2px;
			color: $white;
		}
	}
	.fa-heart {
		color: $brand-color;
		font-size: 11px;
		margin: 0 2px;
	}
}
/* ==========================================================================
	$Utilities
========================================================================== */
.work {
	&:nth-child(1) {
		@include animation-delay(.1s);
	}
	&:nth-child(2) {
		@include animation-delay(.2s);
	}
	&:nth-child(3) {
		@include animation-delay(.3s);
	}
	&:nth-child(4) {
		@include animation-delay(.4s);
	}
	&:nth-child(5) {
		@include animation-delay(.8s);
	}
	&:nth-child(6) {
		@include animation-delay(.7s);
	}
	&:nth-child(7) {
		@include animation-delay(.6s);
	}
	&:nth-child(8) {
		@include animation-delay(.5s);
	}
}
.animated {
	visibility: visible;
}
/* ==========================================================================
	Font Icon (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@include font-face("elegant-theme-line", font-files("elegant-theme-line.ttf", "elegant-theme-line.eot", "elegant-theme-line.svg", "elegant-theme-line.woff"));

.icon {
	font-family: 'elegant-theme-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-paperclip:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart:before {
	content: "\e04a";
}
.icon-cloud:before {
	content: "\e04b";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-tumblr:before {
	content: "\e061";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-dribbble:before {
	content: "\e063";
}


$octicons-font-path: "./fonts" !default;
$octicons-version:   "c5a1d52cb40008f6d4ed65bf3f12d508b2fe8c88";

@include font-face("octicons", font-files("octicons.ttf", "octicons.eot", "octicons.svg", "octicons.woff"));


// .octicon is optimized for 16px.
// .mega-octicon is optimized for 32px but can be used larger.
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mega-octicon { font-size: 32px; }

.octicon-alert:before { content: '\f02d'} /*  */
.octicon-arrow-down:before { content: '\f03f'} /*  */
.octicon-arrow-left:before { content: '\f040'} /*  */
.octicon-arrow-right:before { content: '\f03e'} /*  */
.octicon-arrow-small-down:before { content: '\f0a0'} /*  */
.octicon-arrow-small-left:before { content: '\f0a1'} /*  */
.octicon-arrow-small-right:before { content: '\f071'} /*  */
.octicon-arrow-small-up:before { content: '\f09f'} /*  */
.octicon-arrow-up:before { content: '\f03d'} /*  */
.octicon-microscope:before,
.octicon-beaker:before { content: '\f0dd'} /*  */
.octicon-bell:before { content: '\f0de'} /*  */
.octicon-bold:before { content: '\f0e2'} /*  */
.octicon-book:before { content: '\f007'} /*  */
.octicon-bookmark:before { content: '\f07b'} /*  */
.octicon-briefcase:before { content: '\f0d3'} /*  */
.octicon-broadcast:before { content: '\f048'} /*  */
.octicon-browser:before { content: '\f0c5'} /*  */
.octicon-bug:before { content: '\f091'} /*  */
.octicon-calendar:before { content: '\f068'} /*  */
.octicon-check:before { content: '\f03a'} /*  */
.octicon-checklist:before { content: '\f076'} /*  */
.octicon-chevron-down:before { content: '\f0a3'} /*  */
.octicon-chevron-left:before { content: '\f0a4'} /*  */
.octicon-chevron-right:before { content: '\f078'} /*  */
.octicon-chevron-up:before { content: '\f0a2'} /*  */
.octicon-circle-slash:before { content: '\f084'} /*  */
.octicon-circuit-board:before { content: '\f0d6'} /*  */
.octicon-clippy:before { content: '\f035'} /*  */
.octicon-clock:before { content: '\f046'} /*  */
.octicon-cloud-download:before { content: '\f00b'} /*  */
.octicon-cloud-upload:before { content: '\f00c'} /*  */
.octicon-code:before { content: '\f05f'} /*  */
.octicon-comment-add:before,
.octicon-comment:before { content: '\f02b'} /*  */
.octicon-comment-discussion:before { content: '\f04f'} /*  */
.octicon-credit-card:before { content: '\f045'} /*  */
.octicon-dash:before { content: '\f0ca'} /*  */
.octicon-dashboard:before { content: '\f07d'} /*  */
.octicon-database:before { content: '\f096'} /*  */
.octicon-clone:before,
.octicon-desktop-download:before { content: '\f0dc'} /*  */
.octicon-device-camera:before { content: '\f056'} /*  */
.octicon-device-camera-video:before { content: '\f057'} /*  */
.octicon-device-desktop:before { content: '\f27c'} /*  */
.octicon-device-mobile:before { content: '\f038'} /*  */
.octicon-diff:before { content: '\f04d'} /*  */
.octicon-diff-added:before { content: '\f06b'} /*  */
.octicon-diff-ignored:before { content: '\f099'} /*  */
.octicon-diff-modified:before { content: '\f06d'} /*  */
.octicon-diff-removed:before { content: '\f06c'} /*  */
.octicon-diff-renamed:before { content: '\f06e'} /*  */
.octicon-ellipsis:before { content: '\f09a'} /*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before { content: '\f04e'} /*  */
.octicon-file-binary:before { content: '\f094'} /*  */
.octicon-file-code:before { content: '\f010'} /*  */
.octicon-file-directory:before { content: '\f016'} /*  */
.octicon-file-media:before { content: '\f012'} /*  */
.octicon-file-pdf:before { content: '\f014'} /*  */
.octicon-file-submodule:before { content: '\f017'} /*  */
.octicon-file-symlink-directory:before { content: '\f0b1'} /*  */
.octicon-file-symlink-file:before { content: '\f0b0'} /*  */
.octicon-file-text:before { content: '\f011'} /*  */
.octicon-file-zip:before { content: '\f013'} /*  */
.octicon-flame:before { content: '\f0d2'} /*  */
.octicon-fold:before { content: '\f0cc'} /*  */
.octicon-gear:before { content: '\f02f'} /*  */
.octicon-gift:before { content: '\f042'} /*  */
.octicon-gist:before { content: '\f00e'} /*  */
.octicon-gist-secret:before { content: '\f08c'} /*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before { content: '\f020'} /*  */
.octicon-git-commit:before { content: '\f01f'} /*  */
.octicon-git-compare:before { content: '\f0ac'} /*  */
.octicon-git-merge:before { content: '\f023'} /*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before { content: '\f009'} /*  */
.octicon-globe:before { content: '\f0b6'} /*  */
.octicon-graph:before { content: '\f043'} /*  */
.octicon-heart:before { content: '\2665'} /* ♥ */
.octicon-history:before { content: '\f07e'} /*  */
.octicon-home:before { content: '\f08d'} /*  */
.octicon-horizontal-rule:before { content: '\f070'} /*  */
.octicon-hubot:before { content: '\f09d'} /*  */
.octicon-inbox:before { content: '\f0cf'} /*  */
.octicon-info:before { content: '\f059'} /*  */
.octicon-issue-closed:before { content: '\f028'} /*  */
.octicon-issue-opened:before { content: '\f026'} /*  */
.octicon-issue-reopened:before { content: '\f027'} /*  */
.octicon-italic:before { content: '\f0e4'} /*  */
.octicon-jersey:before { content: '\f019'} /*  */
.octicon-key:before { content: '\f049'} /*  */
.octicon-keyboard:before { content: '\f00d'} /*  */
.octicon-law:before { content: '\f0d8'} /*  */
.octicon-light-bulb:before { content: '\f000'} /*  */
.octicon-link:before { content: '\f05c'} /*  */
.octicon-link-external:before { content: '\f07f'} /*  */
.octicon-list-ordered:before { content: '\f062'} /*  */
.octicon-list-unordered:before { content: '\f061'} /*  */
.octicon-location:before { content: '\f060'} /*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before { content: '\f06a'} /*  */
.octicon-logo-gist:before { content: '\f0ad'} /*  */
.octicon-logo-github:before { content: '\f092'} /*  */
.octicon-mail:before { content: '\f03b'} /*  */
.octicon-mail-read:before { content: '\f03c'} /*  */
.octicon-mail-reply:before { content: '\f051'} /*  */
.octicon-mark-github:before { content: '\f00a'} /*  */
.octicon-markdown:before { content: '\f0c9'} /*  */
.octicon-megaphone:before { content: '\f077'} /*  */
.octicon-mention:before { content: '\f0be'} /*  */
.octicon-milestone:before { content: '\f075'} /*  */
.octicon-mirror-public:before,
.octicon-mirror:before { content: '\f024'} /*  */
.octicon-mortar-board:before { content: '\f0d7'} /*  */
.octicon-mute:before { content: '\f080'} /*  */
.octicon-no-newline:before { content: '\f09c'} /*  */
.octicon-octoface:before { content: '\f008'} /*  */
.octicon-organization:before { content: '\f037'} /*  */
.octicon-package:before { content: '\f0c4'} /*  */
.octicon-paintcan:before { content: '\f0d1'} /*  */
.octicon-pencil:before { content: '\f058'} /*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before { content: '\f018'} /*  */
.octicon-pin:before { content: '\f041'} /*  */
.octicon-plug:before { content: '\f0d4'} /*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before { content: '\f05d'} /*  */
.octicon-primitive-dot:before { content: '\f052'} /*  */
.octicon-primitive-square:before { content: '\f053'} /*  */
.octicon-pulse:before { content: '\f085'} /*  */
.octicon-question:before { content: '\f02c'} /*  */
.octicon-quote:before { content: '\f063'} /*  */
.octicon-radio-tower:before { content: '\f030'} /*  */
.octicon-repo-delete:before,
.octicon-repo:before { content: '\f001'} /*  */
.octicon-repo-clone:before { content: '\f04c'} /*  */
.octicon-repo-force-push:before { content: '\f04a'} /*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before { content: '\f002'} /*  */
.octicon-repo-pull:before { content: '\f006'} /*  */
.octicon-repo-push:before { content: '\f005'} /*  */
.octicon-rocket:before { content: '\f033'} /*  */
.octicon-rss:before { content: '\f034'} /*  */
.octicon-ruby:before { content: '\f047'} /*  */
.octicon-search-save:before,
.octicon-search:before { content: '\f02e'} /*  */
.octicon-server:before { content: '\f097'} /*  */
.octicon-settings:before { content: '\f07c'} /*  */
.octicon-shield:before { content: '\f0e1'} /*  */
.octicon-log-in:before,
.octicon-sign-in:before { content: '\f036'} /*  */
.octicon-log-out:before,
.octicon-sign-out:before { content: '\f032'} /*  */
.octicon-smiley:before { content: '\f0e7'} /*  */
.octicon-squirrel:before { content: '\f0b2'} /*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before { content: '\f02a'} /*  */
.octicon-stop:before { content: '\f08f'} /*  */
.octicon-repo-sync:before,
.octicon-sync:before { content: '\f087'} /*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before { content: '\f015'} /*  */
.octicon-tasklist:before { content: '\f0e5'} /*  */
.octicon-telescope:before { content: '\f088'} /*  */
.octicon-terminal:before { content: '\f0c8'} /*  */
.octicon-text-size:before { content: '\f0e3'} /*  */
.octicon-three-bars:before { content: '\f05e'} /*  */
.octicon-thumbsdown:before { content: '\f0db'} /*  */
.octicon-thumbsup:before { content: '\f0da'} /*  */
.octicon-tools:before { content: '\f031'} /*  */
.octicon-trashcan:before { content: '\f0d0'} /*  */
.octicon-triangle-down:before { content: '\f05b'} /*  */
.octicon-triangle-left:before { content: '\f044'} /*  */
.octicon-triangle-right:before { content: '\f05a'} /*  */
.octicon-triangle-up:before { content: '\f0aa'} /*  */
.octicon-unfold:before { content: '\f039'} /*  */
.octicon-unmute:before { content: '\f0ba'} /*  */
.octicon-unverified:before { content: '\f0e8'} /*  */
.octicon-verified:before { content: '\f0e6'} /*  */
.octicon-versions:before { content: '\f064'} /*  */
.octicon-watch:before { content: '\f0e0'} /*  */
.octicon-remove-close:before,
.octicon-x:before { content: '\f081'} /*  */
.octicon-zap:before { content: '\26A1'} /* ⚡ */
